<div class="header">
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a routerLink="/" class="navbar-brand scroll-top"><em>F</em>inance</a>
      </div>
      <!--/.navbar-header-->
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="#" class="scroll-top">Home</a>
          </li>
          <li>
            <a href="#" class="scroll-link" data-id="about">Skills</a>
          </li>
          <li>
            <a routerLink="login" class="nav-link">Login</a>
          </li>
          <li>
            <a href="#" class="scroll-link">Register</a>
          </li>
        </ul>
      </div>
      <!--/.navbar-collapse-->
    </nav>
    <!--/.navbar-->
  </div>
  <!--/.container-->
</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
  <div class="container">
    <div class="text-content">
      <h2><em>FINANCE</em> <span>CONTROL</span></h2>
      <p>App, donde podras gestionar el control de tus ingresos y gastos.</p>
      <div class="primary-white-button">
        <a href="#" class="scroll-link" data-id="about">Let's Start</a>
      </div>
    </div>
  </div>
</div>


<section id="about" class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <div class="icon">
            <img src="/assets/asset-page/img/service_icon_01.png" alt="">
          </div>
          <h4>Smart Notifications</h4>
          <div class="line-dec"></div>
          <p>Curabitur non risus fringilla libero accumsan molestie et quis justo. Cras aliquam tempor sem, vestibulum
            facilisis dui. Mauris malesuada porta.</p>
          <div class="primary-blue-button">
            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <div class="icon">
            <img src="/assets/asset-page/img/service_icon_02.png" alt="">
          </div>
          <h4>Lovely Web Design</h4>
          <div class="line-dec"></div>
          <p>Suspendisse magna mauris, convallis vel finibus eget, lobortis dictum neque. Nam tincidunt metus nec eros
            dignissim consectetur. Duis mollis.</p>
          <div class="primary-blue-button">
            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <div class="icon">
            <img src="/assets/asset-page/img/service_icon_03.png" alt="">
          </div>
          <h4>Quick Support</h4>
          <div class="line-dec"></div>
          <p>Etiam quis ullamcorper augue. Morbi leo libero, malesuada eget eleifend eu, interdum sed augue. Sed tempor
            mi quis rhoncus convallis.</p>
          <div class="primary-blue-button">
            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <div class="icon">
            <img src="/assets/asset-page/img/service_icon_04.png" alt="">
          </div>
          <h4>One-Click Setup</h4>
          <div class="line-dec"></div>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent
            viverra, nunc et mollis fermentum.</p>
          <div class="primary-blue-button">
            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="logo">
          <a class="logo-ft scroll-top" href="#"><em>F</em>inance</a>
          <p>Copyright &copy; 2023 CROSDEV
        </div>
      </div>
      <div class="col-md-2 col-sm-12">
        <div class="connect-us">
          <h4>Get Social with us</h4>
          <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-google"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
