<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/perfil">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/income">Ingresos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/expense">Gastos</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-primary" type="button" routerLink="/login">Login</button>
        <button class="btn btn-primary" type="button" routerLink="/user">Register</button>
      </form>
    </div>
  </div>
</nav>

